body[
    font-family: "lato Extended", lato, "Helvetica Neue" ,Arial, Helvetica, sans-serif;
    over-flow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
nav .column ul li{
    list-style: none;
    display; inline;
    padding: 40px;
}
nav .column ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
#Street{
    color: #6cb840;
}
#food{
    color: yellow:
}
nav-bar{
    background-color: #e5e5e5
    height: 800px;
    overflow: hidden;
}
.images{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 2px dotted #6cb840;
    position: relative;
    z-index: 2;
    margin-right: 150px;
}
#image1{
    transform: translate(-40px, 200px);
    position: relative;
    z-index: 1;
}
#image2{
    transform: translate(-73px, -35px);
}
#image3{
    transform: translate(70px, -70px);
}
#image6{
    transform: translate(550px, 90px);
}
#image6{
    transform: translate(-220px, 250px);
}
image4{
    transform: translate(150px, 70px);

}
{
    padding: top; 20px;
    border-radius: 30px;
    position: relative;
    bottom: 120px;
    :left 35px;
    font-size: 200px;
}
#white{
    color: #AFD275;
}
.orbit{
    height: 500px;
    width: 500px;
    border-radius: 100%;
    border-top-style: dotted;
    margin-left: 500px;
    position: absolute;
    top: 200px;
}
.orbit img: :first-child{
    position: absolute;
    top: 15px
    :left: -40px;
}
.orbit img:nth-child(3) {
    position: absolute;
    top: -40px;
}

*foot{
    display: flex
        justify-content : space-between
        margin-top: 200px


